*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

.link {
  position: relative;
  cursor: pointer;
}

.link::before,
.langues a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #354523;
  bottom: -2px;
  display: block;
  right: 0;
  transition: all 0.2s ease-out;
}

.link:hover {
  &::before {
    width: 0%;
    transition: all 0.2s ease-out;
  }
}

/* ── HEADER ── */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
}

.son {
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
}

.langues {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.langues a {
  color: #828a6a;
  text-decoration: none;
  position: relative;
  font-size: 0.9rem;
}

.langues a.actif,
.langues a:hover {
  color: #354523;
  transition: all 0.2s ease-out;
}

.langues a.actif::before {
  opacity: 1;
  transition: all 0.2s ease-out;
}

.langues a:not(.actif)::before {
  opacity: 0;
  transition: all 0.2s ease-out;
}

.langues span {
  color: #888888;
}

/* ── FOOTER ── */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #354523;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

footer a {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
