*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ovo", serif;
}

body {
  background-color: #f5fed7;
  color: #354523;
  font-family: "Instrument Sans", sans-serif;
}

.link {
  position: relative;
  cursor: pointer;
}

.link::before,
.langues a::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #354523;
  bottom: -2px;
  display: block;
  right: 0;
  transition: all 0.2s ease-out;
}

.link:hover {
  &::before {
    width: 0%;
    transition: all 0.2s ease-out;
  }
}

/* ── HEADER ── */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.2rem 1.5rem;
}

header .fil a {
  color: #354523;
}

.langues {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.langues a {
  color: #828a6a;
  text-decoration: none;
  position: relative;
  font-size: 0.9rem;
}

.langues a.actif,
.langues a:hover {
  color: #354523;
  transition: all 0.2s ease-out;
}

.langues a.actif::before {
  opacity: 1;
  transition: all 0.2s ease-out;
}

.langues a:not(.actif)::before {
  opacity: 0;
  transition: all 0.2s ease-out;
}

.langues span {
  color: #888888;
}

a {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

a.btn {
  border: 1px solid #354523;
  font-size: calc(20 / 16 * 1rem);
  border-radius: 999px;
  padding: 14px 32px;
  background-color: #354523;
  color: #f5f2d6;
}

/* ── FOOTER ── */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #354523;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
}

footer a {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

.son {
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
}

/* Par défaut : son ON visible, son OFF caché */
.icon-son-on {
  display: block;
}

.icon-son-off {
  display: none;
}

/* Quand muted : son ON caché, son OFF visible */
.son.muted .icon-son-on {
  display: none;
}

.son.muted .icon-son-off {
  display: block;
}